.topBit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: skyblue;
}

.backLink {
  font-family: "Fredoka One";
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 0 15px #eba286;
  border-radius: 40px;
  margin: 20px;
  color: #eba286;
  background-color: aliceblue;
}

.backLink:hover {
  background-color: lightpink;
  transform: scale(1.03);
  transition: 1s;
  box-shadow: 0 0 20px lightpink;
}

.puppyPics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: skyblue;
  box-shadow: 0 0 20px skyblue;
  border-radius: 40px;
  margin: 20px;
}

.puppyPic {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 250px;
  margin: 20px;
  height: 300px;
  width: 300px;
  object-fit: cover;
  transition: 1s;
}

.puppyPic:hover {
  transition: 1s;
  border-radius: 30px;
}
