@import url("https://fonts.googleapis.com/css?family=Fredoka+One|Spicy+Rice&display=swap");

.App {
  text-align: center;
}

a {
  text-decoration: none;
}

.title {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  box-shadow: 0 0 20px #eba286;
  border-radius: 40px;
  margin: 20px;
  color: #eba286;
  background-color: aliceblue;
  background-image: url(./images/dog-paw.svg);
  background-position: center;
  background-repeat: space;
  background-size: contain;
}

h1 {
  font-family: "Spicy Rice", sans-serif;
  font-size: 40px;
  padding: 10px 30px;

  text-shadow: 5px 5px 30px rgba(255, 255, 255, 0.7),
    -5px 5px 30px rgba(255, 255, 255, 0.7),
    5px -5px 30px rgba(255, 255, 255, 0.7),
    -5px -5px 30px rgba(255, 255, 255, 0.7);
}
.allThePups {
  border-radius: 40px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0 0 20px skyblue;
  background-color: skyblue;
}
.singleBreed {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  max-width: 80px;
  height: 50px;
  margin: 15px;
  padding: 20px;

  border-radius: 60px;
  background-color: aliceblue;
  animation-name: jiggle;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  transition: 1s;
}

@keyframes jiggle {
  0% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
}

.singleBreed:hover {
  background-color: lightpink;
  transform: scale(1.04);
  transition: 1s;
  box-shadow: 5px 5px 20px lightpink, -5px 5px 20px lightpink,
    5px -5px 20px lightpink, -5px -5px 20px lightpink;
}

.breedText {
  font-family: "Fredoka One";
  font-size: 13px;
  color: #eba286;
  text-shadow: 0 0 1px #eba286;
}
